streamlit
tensorflow==2.19.0
keras==3.13.2
pillow
numpy
langchain
langchain-community
langchain-huggingface
langchain-openai
langchain-text-splitters
langchain-core
faiss-cpu
pypdf
sentence-transformers
python-dotenv
